:root {
  --bg-cl: #FFF;
  --primary-cl: #fff;

  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
  --border-cl-2: rgba(66, 66, 26, 0.226);
  --mtn-btn: rgb(193, 196, 19);
  --telecel-btn: rgb(180, 57, 19);
  --airteltigo-btn: rgb(28, 46, 119);

  /*====NEW===ROOT====*/
  /*====NEW===ROOT====*/
  --darkMode-bg-cl: rgb(24, 29, 36) !important;
  --background-cl-1: rgb(29, 36, 41);
  --background-cl-2: rgb(29, 36, 41);
  --background-cl-2: rgb(29, 36, 41);
  --live-body: rgba(136, 136, 136, 0.192);


  /***
  NEW ROOT
  ***/
  --btn-bg-cl: rgb(250, 126, 9);
  --user-panel-bg: rgba(42, 42, 194, 0.938);
  --clock-bg-cl: rgba(252, 175, 11, 0.199);
  --clock-bg-cl-1: rgb(2, 61, 52);

  /***
  DARK MODE COLORS
  ***/
  --darkMode-bg-cl: rgb(24, 29, 36) !important;
  --welcome-card-bg-2:  #141c27 !important;
  --welcome-card-bg:  #0e141b !important;
  --welcome-card-bg-3: rgba(77, 77, 77, 0.89);
  --welcome-card-border: rgb(74, 88, 94);
  --thin-border: rgb(35, 48, 49);
  --text-cl: rgb(145, 168, 164);
  --text-cl-2: rgb(210, 216, 216);
  --text-cl-3: rgb(139, 141, 141);
  --text-cl-4: rgb(255, 153, 0);
  --white-text-cl: rgb(248, 247, 247);


  /**
  BORDER SOLID COLORS
  **/
  --thin-border-1:  #0d6d5a;
  --thin-border-2:  #830616;
  --thin-border-3:  #b97207;
  --thin-border-4:  #036aa7;
  --thin-border-5:  #bba907;
  --thin-border-6:   rgb(17, 2, 31);
  --thin-border-7:  rgb(1, 11, 39);

  /***
  CARD BG
  ***/
  --card-mtn-bg:  #faba5ad0;
  --card-tel-bg:  #fa537dd0;
  --card-tigo-bg:  #1b252b;
}



  .main-container .second-container{
  width: 100%;
  max-width: 96%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  position: relative;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 3rem;
    }

    .second-container .total-title{
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .1rem;
  margin-top: 1.4rem ;
  margin-bottom: .2rem;
  border-radius: .8rem;
}

  .second-container .etitle {
    background: none !important;
    padding: 1.1rem !important;
    margin-bottom: 0 !important;
  }

 .second-container .total-title .ebookImg{
  width: max-content;
  height: max-content;
  padding: .3rem;
 }

 .second-container .total-title .ebookImg img{
  width: 2.2rem;
  height: 2.2rem;
  animation: book 2s infinite;
 }

 @keyframes book {
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.03);
  }

  75%{
    transform: scale(1.05);
  }

  100%{
    transform: scale(1);
  }
 }

.second-container .total-title p{
  color: var(--text-cl-2);
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

/***
second container css little changes
****/
.main-container .second-container .daily-total-section{
  width: 100%;
  background: var(--thin-border-1);
}


.second-container .section-card-top .card-top-left p{
  color: rgba(130, 236, 231, 0.925);
  font-size: .9rem;
  margin-top: -.5rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.second-container .table-section{
  width: 100%;
  max-width: 100% !important;
}

.second-container .pdt{
  width: 100%;
  max-width: 96% !important; 
}

.second-container 
.content-wrapper .table-header {
  /* Fixed column widths — same as before */
  display: grid;
  width: 100%;
  max-width: 100% !important;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: 
    130px 160px 130px 130px 130px 130px 110px 130px !important;

}

.second-container .content-wrapper .pde {
  width: 100%;
  max-width: 100% !important;
   grid-template-columns: 
    140px 150px 140px 160px 140px 160px 140px 150px !important;
}



/***
CHECKBOX STYLE
****/
.checkbox {
  -webkit-appearance: none;
  appearance: none;

  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f5f5f5;

  cursor: pointer;
  transition: .3s ease;
}

.bundle-sector p .active{
  background: var(--card-mtn-bg);
  border-color: var(--thin-border-3);
  animation: blinkTwice 3s infinite;
}

@keyframes blinkTwice {
  0%{
    background: var(--card-mtn-bg) ;
    scale: 1.01;
  }

   50%{
    background: var(--background-cl) ;
    scale: .7;
  }
   75%{
    background: var(--card-tel-bg) ;
    scale: 1;
  }

    100%{
    background: var(--background-cl);
    scale: .5;
  }
}

.checkbox:checked{
  background: var(--card-mtn-bg);
  border-color: var(--thin-border-3);
}