
:root {
  --bg-cl: #FFF;
  --primary-cl: #fff;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
  --border-cl-2: rgba(66, 66, 26, 0.226);
  --mtn-btn: rgb(193, 196, 19);
  --telecel-btn: rgb(180, 57, 19);
  --airteltigo-btn: rgb(28, 46, 119);
}



* {
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html:focus-within{
  scroll-behavior: smooth;
}


/****
WATCH VIDEO SECTION
***/


/**
* NAVIGATION BAR
**/
.navbar {
  display: flex;
  width: 100%;
  justify-self: center;
  height: 3.8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  justify-self: center;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-cl);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 1rem 1rem;
  z-index: 1000;
}

/**
* NAV LEFT
**/
.navbar .nav-left{
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-left img{
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

/**
* NAV-RIGHT
**/
.nav-right{
  display: flex;
  width: 8rem;
  height: 100%;
  align-items: center;
  justify-content: end;
  background: transparent;
  border-radius: 4px;
  margin-right: .6rem;;
}

.nav-right img{
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  width: max-content;
  justify-content: space-between;
}

.login a{
  text-align: center;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .8rem;
  color: var(--card-full-bg-cl);
}


.login img {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 .5rem;
  background: var(--background-cl);
  border-radius: 50%;
  cursor: pointer;
}

.menu-icon{
  background: rgba(219, 214, 214, 0.37);
  border-radius: 4px;
  padding: .3px;
}



/****
MENU-CARD SECTION
****/
.menu-card-container {
  width: 100%;
  max-width: 13rem;
  height: 20rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: -540px;
  top: 4rem;
  border: 0.1px solid var(--bg-cl);
  background: rgb(44, 37, 37);
  box-shadow: 0 4px 8px rgba(58, 57, 57, 0.4);
  border-radius: .2rem;
  transition: .5s ease-in-out;
}
.close-card{
  display: flex;
  width: 100%;
  height: max-content;
  padding: .2rem;
  align-items: end;
  justify-content: end;
}


.menu-card{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1.4rem;
  width: 90%;
  height: 18rem;
  margin: 0 .4rem;
  padding: .4rem 0;
   border: 0.2px solid pink;
  background: rgb(255, 255, 255);
  border-end-end-radius: 1rem;
  border-start-start-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/***
CARD TOP
***/
.shortcut-sidebar-nav {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: .1rem;
  text-align: center;
  margin: .4rem 0;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  position: relative;
  background-color: transparent;
}

.sidebar-nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
  padding: .1rem .1rem;
  transition: .2s ease;
}

.sidebar-nav img{
  width: 1.3rem;
  height: 1.3rem;
  background-color: rgb(233, 227, 233);
  padding: .14rem;
  border-radius: .4rem;
}

.sidebar-nav a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  gap: .5rem;
  color: rgb(165, 159, 159);
}

.shortcut-links{
  display: flex;
  width: 100%;
  background: transparent;
  height: max-content;
  padding: .1rem;;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
}



.link{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2.8rem;;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: .5rem;
  color: black;
  margin: 0 .4rem;
  transition: .1s ease-in-out;
}

.link:hover{
  background: rgb(82, 79, 79);
  color: rgb(247, 246, 246);
  height: 3rem;
  width: 100%;
  border-end-end-radius: 1rem;
  border-start-start-radius: 1rem;
}


.link a{
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  color: rgb(32, 29, 29);
  font-size: 1.1rem;
}

.link a:hover{
  color: var(--bg-cl);
}

.link img{
  width: 2.1rem;
  height: 2.1rem;
  margin-right: .4rem;
  background: var(--background-cl);
  padding: .2rem;
  border-radius: 5px;

}

.sidebar-nav:hover{
  background: rgb(192, 185, 185);
  color: white;
  width: 100%;
  padding: .1rem;
}


/***
CARD BOTTOM
****/
.logout-btn{
  display: flex;
  border: 0.2px solid green;
  width: 10rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: green;
  color: var(--bg-cl);
  height: 2rem;
  font-size: 1rem;
  position: relative;
  display: flex;
  box-shadow: 0 2px 6px rgba(61, 37, 32, 0.479);
  transition: 1s ease;
  cursor: pointer;
  margin: .5rem 1rem;
}

.logout-btn:hover{
  background: rgb(52, 80, 11);
  box-shadow: 0 2px 6px rgba(71, 46, 42, 0.479);
}




/* === WhatsApp Floating Button === */
#whatsappChat {
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 99999;
  font-family: "Poppins", sans-serif;
}

/* Floating button */
#chatButton {
  background-color: #25D366;
  color: white;
  font-size: 26px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.message{
  display: flex;
  align-items: center;
  justify-content: center;
}
.message img{
  width: 2.6rem;
  height: 2.5rem
}

#chatButton:hover {
  transform: scale(1.1);
  background-color: #20bd5a;
}

/* Message box */
#chatBox {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 75px;
  right: 0;
  background: #fff;
  width: 280px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

#chatBox.show {
  display: flex;
}

#chatBox h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

#chatBox input {
  width: 100%;
  height: 5rem;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #292727;
  background-color: #dddae7;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 14px;
}

#chatBox button {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;

}

#chatBox button:hover {
  background-color: #1ebe5d;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); 
  }
  to { opacity: 1; transform: translateY(0);};
}



body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-cl);
  margin: 0;
  padding:0;
}

/****
DASHBOARD HERO SECTION
****/
.dashboard-hero-container{
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  height: 14rem;
  justify-self: center;
  background: linear-gradient(135deg, rgb(177, 131, 131), rgb(52, 52, 228));
  margin: 4.8rem 1rem;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}



.dashboard-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 98%;
  height: 100%;
  background: transparent;
  text-align: center;
}

.dashboard-title h2{
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;

}

.dashboard-title small{
  color: var(--background-cl);
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial;
}

.dash-quote{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  justify-content: center;
  background-color: transparent;
  ;
}


.dashboard-title img{
  width: 4.7rem;
  height: 4.7rem;
  background-color: #b9e4c2;
  border-radius: 50%;
  padding: .2rem;
  box-shadow: 1px 2px 6px rgba(19, 60, 99, 0.2);
}


.dashboard-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: -3rem;
  overflow-y: auto;
}


/***
GO-HOME
***/
.go-home-container{
  width: 100%;
  max-width: 460px;
  height: 8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  border: 0.1px solid var(--background-cl);
  border-radius: 1rem;
}

.go-home{
  width: 99.95%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
}

.go-left{
  width: 70%;
  height: max-content;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 1.4;
  background-color: rgb(248, 248, 248);
  padding: .5rem;
  border-radius: .6rem;
}

.go-left small {
  font-size: .96rem;
  color: rgb(97, 91, 91);
}

/***
GO-RIGHT
**/
.go-right{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-right .home-btn{
  width: 6rem;
  height: 2rem;
  border: none;
  background: linear-gradient(135deg,rgb(11, 11, 245),rgb(5, 7, 117));
  color: white;
  transition: 1s ease;
  box-shadow: 0 2px 6px rgba(20, 34, 39, 0.2);

}








.card-title{
  width: 100%;
  height: max-content;
  padding: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  margin: .2rem 0;
}

.card-title h3{
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
  margin: 0 .8rem;
}

.card {
  background: linear-gradient(135deg, #b9e4c2,  #61c0c0);
  border-radius: 12px;
  padding: 15px ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card-top-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99.9%;
  top: 0;
  height: auto;
  padding: .2rem 0;
  margin-top: -1rem;
}

.card-top-div img{
  background: var(--background-cl);
  padding: .2rem;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 1.3rem;
  height: 1.3rem;
}

.card:hover {
  transform: translateY(-3px);
}

.card h3 {
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  color: #666;
}

.card p {
  font-size: 16px;
  color: #271717;
  font-weight: bold;
  margin-bottom: -1rem;
  padding: 1rem 0;
}

.orders-section {
  background: rgb(22, 16, 16);
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 30rem;
  border-radius: 18px;
  margin: 1rem .8rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);

}

.orders-section h2{
  color: white;
  font-size: 1.1rem;
  opacity: .9;
}


.table-wrapper{
  display: flex;
  position: relative;
  background: rgba(29, 23, 23, 0.034);
  width: 100%;
  height: 25rem;
  overflow-y: auto;
  overflow-x: auto;
  z-index: 999;
  border-radius: 1rem;
  border: 2px solid var(--background-cl);
  box-shadow:  2px 2px 5px rgba(29, 23, 23, 0.034), -2px -2px 5px rgba(29, 23, 23, 0.034);
}

.orders-table {
  width: max-content;
  height: max-content;
  padding: .2rem 2rem;
  background-color: var(--bg-cl);
  border-collapse: collapse;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  position: absolute;
  box-shadow: 2px 2px 5px rgb(34, 31, 31), -2px -2px 5px rgb(34, 31, 31);
  top: 0;
  z-index: 99;
}

.orders-table th,
.orders-table td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #eaeaea;

}


.orders-table th {
  color: #888;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;

}

.status-pending { color: orange; }
.status-processing { color: blue; }
.status-delivered {color:green;}














/* 1. Extra small devices (phones, portrait) */
@media (max-width: 320px) { }

/* 2. Small phones */
@media (max-width: 360px) { }

/* 3. Larger small phones */
@media (max-width: 375px) { }

/* 4. Standard mobile (e.g. iPhone X/12/13) */
@media (min-width: 414px) { 
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 25px;
 
}


.dashboard-hero-container{
  width: 100%;
  max-width: 360px;

}
}

/* 5. Large phones / tablets */
@media (min-width: 480px) { 
  .cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 25px;
 
}

.dashboard-hero-container{
  width: 100%;
  max-width: 420px;

}
}

/* 6. Small tablets */
@media (max-width: 600px) { }

/* 7. Mid-size tablets */
@media (max-width: 640px) { }

/* 8. Tablets portrait */
@media (max-width: 768px) { }

/* 9. Tablets landscape / small laptops */
@media (max-width: 800px) { }

/* 10. Large tablets */
@media (max-width: 900px) { }

/* 11. Small laptops */
@media (max-width: 1024px) { }

/* 12. Medium laptops / desktops */
@media (max-width: 1200px) { }

/* 13. Large desktops */
@media (max-width: 1280px) { }

/* 14. XL desktops */
@media (max-width: 1366px) { }

/* 15. Very large screens */
@media (max-width: 1440px) { }

/* 16. Extra-wide monitors */
@media (max-width: 1920px){}
