
:root {
  --bg-cl: #FFF;
  --primary-cl: #fff;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background:  url(./css/images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 40rem;
  padding: 0 10px;
}

/***
LOGOUT BTN
****/
.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16rem;
  color: white;
  cursor: pointer;
  background: rgb(196, 14, 14);
  border: none;
  border-radius: 6px;
  width: 30%;
  height: 2rem;
}


/***
SNACKBAR SECTION
****/
.snackbar {
  position: fixed;
  top: 1rem;
  right: 50%;
  width: 100%;
  height: 3rem;
  max-width: 420px;
  transform: translateX(50%);
  background-color:  #beddca;
  color: rgb(41, 44, 42);
  text-align: center;
  display: flex;
  align-items: center;
  word-spacing: 2.7;
  justify-content: center;
  font-size: 1.2rem;
  padding: 12px 20px;
  border-radius: 4px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 2px 6px rgba(98, 126, 118, 0.849), 0 -2px 6px  rgba(98, 126, 121, 0.849) ;
  z-index: 2000000; /* above input popup */
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s ease, transform 0.3s ease;
}

.snackbar.show {
  opacity: 1;
  transform: translateX(50%) translateY(10px);
  pointer-events:all;
  width: 100%;
  max-width: 420px;
  background: var(--bg-cl);
}












.terms {
  display: flex;
  height: 14rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  background-color: rgba(43, 41, 41, 0.308);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: sans-serif;
  border-radius: 8px;
}

.terms a {
  color: var(--card-full-bg-cl);
  text-decoration: none;
}

.terms a:hover{
  text-decoration: underline;
  color: rgb(10, 10, 227);
}

.terms h5 {
  color: rgb(253, 244, 244);
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 8px

}


/*-----------------------------------*\
  # WELCOMING MESSAGE SECTION
\*-----------------------------------*/ 
.welcoming {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  width: auto;
  height: 100px;
  flex-wrap: wrap;
  background: none;
  position: relative;
  margin-top: 7rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
}

.welcoming h2 {
  margin-top: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8rem;
  justify-self: center;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1rem 1.rem;
  text-shadow: 0 0 10px rgba(99, 95, 95, 0.8);
}


/*-----------------------------------*\
  #LOGIN FORM & SIGN UP FORM
\*-----------------------------------*/


.form-container {
  display: flex;
  width: 1000px;
  height: 600px;
  justify-self: center;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(20px);
  overflow: hidden;
  margin-top: 3rem;
}

/**
*FIRST COL-1
**/
.col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  background-color: rgba(124, 118, 118, 0.488);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 0 30% 20% 0;
  transition: border-radius 0.3s;
}

/**
* IMAGE LAYER
**/
.image-layer {
  position: relative;
}

.form-image-main {
width: 100px;
animation: scale-up 3s ease-in-out alternate infinite;
}

/***
* KEYFRAMES
***/
@keyframes scale-up {
  to{
    transform: translateX(32px);
  }
}

.form-image{
  left: 0;
  position: absolute;
  width: 400px;
}

/**
* FEATURED WORDS
**/
.featured-words {
  text-align: center;
  color: rgb(34, 51, 51);
  font-size: 1.4rem;
  margin-block-start: 1rem;
  width: 300px;
  border-block-end: 1px solid rgb(13, 32, 33);
}

.featured-words span {
  color: #21264D;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem 0;
}

/**
* COL-
**/
.col-2 {
  position: relative;
  width: 45%;
  padding: 20px;
  overflow: hidden;
}

.btn-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  font-weight: 500;
  padding: 5px 30px;
  border: none;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.336);
  color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: .2s;
}

.btn-1 {
background: #293488;
}

.btn:hover {
  opacity: 0.85;
}

/**
* LOGIN FORM
**/
.login-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 1rem;
  padding: 0 4VW;
  transition: .3s;
}

/**
* REGISTER FORM
**/
.register-form {
position: absolute;
  left: -50%;
  transform: translateX(-50%);
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-color: transparent;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 0 4vw;
  transition: .3s;

}

.register-form .form-title {
  margin-block: 40px 20px;
}

.form-title {
  margin: 15px 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  color: var(--bg-cl);
  background: none;
  font-size: 28px;
  border-radius: .1rem;
}

.form-inputs {
  width: 100%;
}

.input-box{
  position: relative;
}

.input-field {
  width: 100%;
  height: 55px;
  padding: 0 15px;
  margin: 25px 0;
  font-size: 16px;
  font-family: Arial;
  color: rgb(2, 2, 2);
  background: rgba(233, 230, 230, 0.4);
  border: 0.2px solid white;
  border-radius: 10px;
  outline: none;
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255,255, 255,0.2);
}

::placeholder{
  color: black;
  font-size: 18px;
}

.input-box .icon {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: white;
}

.forgot-password {
  display: flex;
  justify-content: right;
  gap: 5px;
}

.forgot-password a {
  color: rgb(60, 241, 15);
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.input-submit{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  padding: 0 15px;
  margin: 10px 0;
  font-size: 16px;
  border: none;
  background-color: #21264D;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255, 255,0.2);
  color: white;
  cursor: pointer;
  transition: .3s;
}

.input-submit:hover {
  gap: 15px;
}



@keyframes scaling-right {
  to{
    transform: translateX(140px);
  }
}
.social-login img:hover {
  transform: scale(1.1);
}

.social-login i:hover {
  transform: scale(0.9);
}

/**
* RESPONSIVENESS
**/
@media (max-width: 892px) {
  .form-container {
    width: 400px;
  }

  .col-1 {
    display: none;
  }
  .col-2 {
    width: 100%;
  }

  }


/**
* NAVIGATION BAR
**/
.navbar {
  display: flex;
  width: 100%;
  height: 3.8rem;
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-cl);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 0.4rem 0.5rem;
  z-index: 1000;
}

/**
* NAV LEFT
**/
.navbar .nav-left{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.nav-left h2{
  font-size: 1.4;
  font-family: Arial sans-serif;
  color: white;
  padding: .3rem;
  border-radius: .2rem;
  cursor: pointer;
  background-color: var(--dark-cl);
  text-decoration: none;
}

.nav-left a{
  text-decoration: none;
  display: flex;
}



/**
* NAV-RIGHT
**/
.nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 4px;
  margin-right: 0.5rem;
  background-color: #6986731a;
  padding: 0 .2rem;
}

.nav-right img{
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

/**-------LOGIN-CONTAINER----**/
.container {
  width: 100%;
  max-width: 960px;
  display: flex;
  gap: 2rem;
  justify-self: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 4rem 0;
  background: var(--background-cl);
}

.signUp-container{
  width: 100%;
  max-width: 480px;
  display: flex;
  position: relative;
  right: 0;
  justify-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-cl);
}

form{
  width: 330px;
  height: 400px;
  display: flex;
  background: var(--bg-cl);
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  margin: 4rem 0;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex-direction: column;
}


form h1{
  font-size: 1.2rem;
  font-family: Arial sans-serif;
}

form input{
width: 70%;
height: 2.2rem;
border: 0.1px solid var(--background-cl);
border-radius: 4px;
}

form input::placeholder{
  font-size: 1rem;
  margin-left: 1rem;
}

.login-btn{
  width: 50%;
  height: 2.2rem;
  background: black;
  border: none;
  border-radius: 4px;
  color: var(--primary-cl);
  cursor: pointer;
}
























/*****
MENU-CARD STYLING
*****/



.bottom-card {
  width: 94%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  justify-content: flex-start;
  background: var(--bg-cl);
  border-end-end-radius: .5rem;
  border-end-start-radius: .5rem;
  border-start-end-radius: .5rem;
  margin-bottom: .2rem;
}

.bottom-card a{
  text-decoration: none;
   display: flex;
   color: var(--dark-cl);
   margin: 0 .4rem;
   background: transparent;
   padding: .2rem;
   border: .1px solid var(--background-cl);
   border-radius: 4px;
}

/* ABOUT & FOOTER */
.about,
footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: max-content;
  max-width: 400px;
  text-align: center;
  margin: .5rem 0;
  color: white;
  background-color:  rgba(28, 28, 46, 0.267) ;
  bottom: 0;
  border-start-start-radius: 3rem;
  border-start-end-radius: 3rem;
}

.about{
  border-block-end: 1px solid var(--ascent-cl);
}

section footer .bar{
  margin: 0;
  bottom: 0;
}
.about h3{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--background-cl);
}
.about h4{
  color: rgb(45, 182, 148);
  margin-top: 0.4rem;
  font-size: 1.8rem;
}
.about P{
  width: 90%;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(250,250,250);
  margin: 0 auto;
  line-height: 1.8rem;
}

.about img{
  border-radius: 2rem;
width: 2.5rem;
height: 2.5rem;
margin: 0 .5rem;
}

@keyframes jump {
 0% {
  transform: rotateY('90deg 10%');
 }
}



footer a{
  color:  #1ebe57;
  text-decoration: none;
  align-items: center;
  font-weight: bold;
  margin-left: 0.1rem;
}

footer .copyright{
  color:  rgb(206, 58, 78);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  justify-self: center;
  height: max-content;
  position: relative;
}



footer img{
  width: 2.6rem;
  height: 2.6rem;
  vertical-align: middle;
  margin-left: 0.6rem;
}



















