
:root {
  --bg-cl: #FFF;
  --primary-cl: #fff;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
  --border-cl-2: rgba(66, 66, 26, 0.226);
  --mtn-btn: rgb(193, 196, 19);
  --telecel-btn: rgb(180, 57, 19);
  --airteltigo-btn: rgb(28, 46, 119);
}



* {
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html:focus-within{
  scroll-behavior: smooth;
}


body {
  width: 100vw;
  min-height: 100vh;
  background: transparent;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
}

/**
* NAVIGATION BAR
**/
.navbar {
  display: flex;
  width: 100%;
  max-width: 480px;
  justify-self: center;
  height: 3.8rem;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-cl);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: .3rem .5rem;
  z-index: 1000;
}

/**
* NAV LEFT
**/
.navbar .nav-left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left h2{
  font-size: 1.4;
  font-family: Arial sans-serif;
  color: white;
  padding: .2rem;
  border-radius: .2rem;
  cursor: pointer;
  background-color: var(--dark-cl);
}

/**
* NAV-RIGHT
**/
.nav-right{
  display: flex;
  width: 6rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 4px;
  padding: 0 .2rem;
}

.nav-right img{
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}



.menu-icon{
  background: rgba(219, 214, 214, 0.37);
  border-radius: 4px;
  padding: .3px;
  display: flex;
  align-items: center;
  margin-right: -3rem;

}
/***
  NAVIGATION ENDS
  ***/
.main-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  justify-self: center;
  justify-content: space-between;
  overflow-x: hidden;

  max-width: 480px;
}
/***----SIDEBAR-----***/
.sticky-sidebar{
  width: 140px;
  min-height: 90vh;
  display: flex;
  left: .6rem;
  top: 3.9rem;
  position: fixed;
  flex-direction: column;
  background: var(--bg-cl);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 10000;
  overflow-y: auto;
}

.pic {
  width: 2.4rem;
  height: 2.4rem;
  padding: .2rem;
  background-color: rgba(158, 9, 245, 0.945);
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 45%;
  border: 0.2px solid  rgba(145, 9, 224, 0.945);
  box-shadow: 0 2px 6px  rgba(189, 159, 207, 0.945);
}

.user-pannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 12rem;
  gap: .5rem;
  justify-content: center;
  border-block-end: 0.1px solid var(--background-cl);
  font-size: .8rem;
  color:  rgb(131, 116, 116);
  font-weight: 500;
  ;
}

.shortcut-links {
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: .1rem;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-color: transparent;
  margin: 1rem 0;
}

.link{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 .5rem;
  text-align: center;
  width: 90%;
  padding: .1rem .1rem;
  transition: .2s ease;
}

.link img{
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(233, 227, 233);
  padding: .17rem;
  border-radius: .5rem;
}

.link a{
  display: flex;
  align-items: center;
  text-align: center;
  gap: .4rem;
  color: rgb(122, 116, 116);
}

.link:hover{
  background: var(--bg-cl);
  box-shadow: 1px 1px 3px rgba(207, 201, 201, 0.9), -1px -1px 3px rgba(207, 201, 201, 0.9);
  border-radius: .5rem;
}


/***
TOP PACKAGES SECTION
***/
.top-package-container{
  width: 100%;
  max-width: 310px;
  height: 36rem;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background: var(--bg-cl);
  margin-left: 158px;
  border-radius: .8rem;
  box-shadow: 0 2px 10px rgba(204, 198, 198, 0.3);
  overflow: hidden;
  overflow-x: hidden;
  z-index: 10;
}

/******
PRIVACY & POLICY CONTAINER
*******/
.privacy-container {
  width: 100%;
  height: 22rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  background: transparent;
  border-block-start: 0.1px solid var(--background-cl);
}

.terms-container{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.terms-container a{
  text-decoration: none;
}

.terms-container small {
  margin-left: .6rem;
  font-size: .8rem;
  text-decoration: none;
  transition: 1s ease;
}

.terms-container small:hover{
  text-decoration: underline;
  color: green;
}




/**
MAIN SECTION
**/

.top-packages {
  width: 100%;
  max-width: 280px;
  height: 100%;
  max-height: 18rem;
  display: flex;
  flex-direction: column;
  gap: .6rem;
  align-items: center;
  justify-content: center;
  background: var(--bg-cl);
  padding: .9rem 0;
  overflow-y: auto;
}

.top-title{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .2rem;
}

.top-title h3{
  margin: 0 .5rem;
  font-size: 1.3rem;
  font-family: serif;
  font-weight: 500;
}

/***
PACKAGES CARDS
***/
.package-cards {
  width: 98%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .8rem;
  position: relative;
  background: var(--bg-cl);
  border-end-end-radius: .7rem;
  border-end-start-radius: .7rem;
  padding: .5rem;
  box-shadow: 0 2px 6px rgba(24, 23, 23, 0.1);
}

.package-card {
  width: 99%;
  height: 5rem;
  display: flex;
  gap: .8rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.top-div{
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: relative;
}

.top-div .left-div{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.left-div img{
  width: 2rem;
  height: 2rem;
  background: var(--bg-cl);
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.top-div .middle-div{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.middle-div span{
  font-size: 1.1rem;
  font-weight: 600;
}

.middle-div small{
  font-size: 1rem;
  font-weight: 500;
  color: rgb(122, 112, 112);
}

.top-div .right-div{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.right-div span{
  font-size: 1.1rem;
  font-weight: 600;
}

.right-div small{
  font-size: 1rem;
  font-weight: 500;
  color: rgb(122, 112, 112);
}




.bottom-div{
  width: 100%;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bottom-div button {
  width: 90%;
  height: 1.7rem;
  border-radius: 6px;
  background-color: rgb(235, 9, 140);
  border: none;
  box-shadow: 0 3px 6px rgba(107, 105, 105, 0.3);
  color: var(--bg-cl);
  font-weight: 600;
  font-family: sans-serif;
  cursor: pointer;
}

.bottom-div .mtn-btn{
  background: var(--mtn-btn);
}

.bottom-div .mtn-btn:hover{
  background: rgb(219, 219, 18);
  transition: .3s ease;
}

.bottom-div .telecel-btn{
  background-color: var(--telecel-btn);
  transition: .3s ease;
}

.bottom-div .telecel-btn:hover{
  background: rgb(194, 19, 19);
}

.bottom-div .airteltigo-btn{
  background: var(--airteltigo-btn);
  transition: .3s ease;
}

.bottom-div .airteltigo-btn:hover{
  background: rgb(14, 14, 184);
}