.sidebar-market{
  width: 70px;
  height: 100%;
  left: 0;
  top: 4.1rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  position: fixed;
  color: rgb(167, 157, 157);
  font-size: 12px;
  font-family: Arial;
  font-weight: 600;
  padding: .5rem .3rem;
  text-align: center;
  justify-content: start;
  background: var(--bg-cl-1);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  border-right: 2px solid var(--thin-border-3);
  z-index: 150;
}

.sidebar-market .categories-top{
  width: 100%;
  height: 3rem;
  display: flex;
  font-size: .7rem;
  align-items: center;
  color: rgb(209, 126, 17);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  background-color: transparent;
}

.sidebar-links{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  color: rgb(206, 202, 194);
  font-family: serif;
  overflow-y: auto;
  scrollbar-width: none;
}



.sidebar-market .categories-links{
  width: 90%;
  height: 3.2rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: rgba(235, 235, 241, 0.767);
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(58, 56, 56, 0.6);
  border: 0.1px solid rgb(49, 49, 49);
  cursor: pointer;
  transition: .1s ease ;
}

.categories-links:hover{
  width: 96%;
  height: 3.4rem;
}

.categories-links img{
  width: 90%;
  height: 100%;
}

/****
SIDEBAR BOTTOM
*****/
.sidebar-bottom{
  width: 100%;
  height: 20%;
  margin-top: 1rem;
  display: flex;

}

.sidebar-bottom small{
  font-size: .7rem;
  color: rgb(231, 101, 14);
  text-decoration: underline;
}



:root {
  --bg-cl: #222020;
  --bg-cl-2: #353131;
  --bg-cl-sidebar: #353131;
  --primary-cl: #c0b9b9;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
  --border-cl-2: rgba(66, 66, 26, 0.226);
  --mtn-btn: rgb(193, 196, 19);
  --telecel-btn: rgb(180, 57, 19);
  --airteltigo-btn: rgb(28, 46, 119);

  /****
  THIN BORDER
  ****/
  --thin-border-1: rgb(109, 101, 101);
  --thin-border-2: rgb(148, 138, 138);
  --thin-border-3: rgb(78, 72, 72);
  --thin-border-4: rgb(190, 180, 180);
}

/****-----PHONE INPUT MODAL-------------****/
/* ===== MODAL STYLING ===== */


* {
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html:focus-within{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
  background: var(--bg-cl-2);
  margin: 0;
  color: #333;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}



/****
WATCH VIDEO SECTION
***/


/**
* NAVIGATION BAR
**/
.navbar {
  display: flex;
  width: 100%;
  max-width: 480px;
  justify-self: center;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  justify-self: center;
  overflow: hidden;
  align-items: center;
  border-bottom: 2px solid var(--thin-border-3);
  justify-content: space-between;
  background: var(--bg-cl);
  box-shadow: 0 2px 6px rgba(0,0,0,0.0);
  padding: 1rem 1rem;
  z-index: 1000;
}

/**
* NAV LEFT
**/
.navbar-left{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar-left img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}


/**8----RIGHT NAVBAR SECTION---***/
.navbar-right{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar-right img{
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}


/***
MAIN SECTION
****/
.main-section-container{
  width: 100%;
  max-width: 480px;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
}

/***----NEXT-BAR---***/
.next-bar-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .8rem;
  width: 100%;
  max-width: 480px;
  justify-self: center;
  height: 3rem;
  background: var(--bg-cl);
  position: fixed;
  left: 0;
  right: 0;
  top: 4rem;
  overflow: hidden;
  z-index: 100;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  opacity: .8;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.next-bar-section .bar-left {
width: 50%;
height: 100%;
display: flex;
align-items: center;
justify-content: start;
padding-left: 4.5rem;
}

.next-bar-section .bar-right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

/**---PRODUCT SECTION---***/
.products-bar-section{
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  background: transparent;
  justify-self: center;
  justify-content: end;
  align-items: start;
  padding-left: 3.2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  top: 7rem;
  position: relative;
  height: max-content;
}

/****
TITLE SECTION
*****/
.market-cta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.9rem;
  width: 100%;
  height: 2rem;
  text-align: center;
  max-width: 480px;
  background: transparent;
  position: relative;
  z-index: 99;
}

.market-cta .location-div{
  display: flex;
  width: max-content;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-right: .6rem;
  text-align: center;
}

.location-div img{
  width: 1.8rem;
  height: 1.7rem;
}

.location-div small{
  color: rgb(206, 201, 201);

}


.market-cta h4{
  font-size: .9rem;
  color: rgb(202, 197, 197);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards-container{
  width: 100%;
  max-width: 430px;
  justify-self: center;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: end;
  right: 0;
  gap: .4rem;
  background-color: transparent;
}

/***----CARD----***/
.card{
  width: 12rem;
  height: 15rem;
  display: flex;
  justify-self: end;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: .1rem;
}

.card .market-card-top{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 12px;
  overflow: hidden;
}

.market-card-top img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card .market-card-bottom{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: .6rem; 
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
}

.product-title{
  width: 100%;
  height: 1.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: start;
  padding-left: .5rem;
  color: rgb(185, 181, 181);
  font-weight: 400;
  font-size: .9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

.price-tag{
  height: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.market-card-bottom .new-price{
  color: rgb(189, 120, 41);
  font-size: .9rem;
  opacity: 1;
}

.market-card-bottom .old-price{
  color: rgb(146, 106, 106);
  font-size: .7rem;
  text-decoration: line-through;
}

