/****
MAIN CONTAINER
****/
.container{
  width: 100vw;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
  background: transparent;
}




.container .navbar{
  width: 100% !important;
  height: 9vh !important;
  margin-bottom: .4rem !important;
  z-index: 10000000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}

 .grid-main-container .welcome-card{
  margin-top: 5rem !important;
}
