
/* MENU ICON DARK & WHITE MODE */
  .dark-mode #cardToggler{
    display: none;
  }
  #menuDarkMode{
    display: none;
  }
  .dark-mode #menuDarkMode{
    display: flex;
  }

  img{
    -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
  }

  button{
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
  }

