
.gridCard,
.gridCardAirteltigo,
.gridCardTele{
  transform: translateZ(0);
  will-change: transform;
}

.gridCardTele .gridCard-bottom .tbtn{
  background: linear-gradient(135deg, rgba(247, 159, 159, 0.712), rgba(207, 20, 45, 0.911)) !important;
}

.gridCardAirteltigo .gridCard-bottom .abtn{
  background:  linear-gradient(135deg, rgba(172, 198, 226, 0.945), rgba(7, 73, 87, 0.664)) !important;
}

/****
MAIN CONTAINER
****/
.container{
  width: 100vw;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
  background: transparent;
}





.container .navbar{
  width: 100%;
  height: 3.5rem !important;
  display: flex;
  background: #fff !important;
  align-items: center;
  align-content: center !important;
  justify-content: space-between;
  padding: 0 .8rem;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background: #fff !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10000000;
}

.dark-mode .container .navbar{
  width: 100% !important;
  height: 3.5rem !important;
  z-index: 100000000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: var(--darkMode-bg-cl) !important;
  overflow: hidden;
}





.container .main-grid-container{
  height: calc(100vh - 3.4rem) !important;
  scrollbar-width: none !important;
        /**** check back for margin-top ***/
}





/**
* NAV LEFT
**/
.container .navbar .nav-left{
  display: flex;
  position: relative;
  justify-self:start;
  height: 100%;

  padding: 1rem 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.dark-mode .container .navbar .nav-left{
  display: flex;
  position: relative;
  justify-self:start;
  height: 100%;

  padding: 1rem 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.container .navbar .nav-right{
  display: flex;
  position: relative;
  justify-self:end;
  height: 100%;
  padding: .8rem 0;
  align-items: center;
  justify-content: center;
}



.dark-mode .container .navbar .nav-right{
  display: flex;
  position: relative;
  justify-self:end;
  height: 100%;
  padding: .8rem 0;
  align-items: center;
  justify-content: center;
}



.container .navbar .nav-left img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;
  user-select: none;
}

.log-out{
  padding: 8px 16px;
  background: #e63946;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: .2s ease;
  margin-left: 1rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
      }

      .log-out:hover{
        background: #c1121f;
      }




      .card-container .welcome-card {
        margin-top: 1vh !important;
        box-shadow: 0 2px 6px rgba(0,0,0,0.4);
      }





/****
AFA REGISTRATION
*****/
.afa-receipt {
  position: fixed;
  inset: 0;
  background: none;
  align-items: center;
  justify-content: center;
  top: calc(100vh - 80vh) !important;
  left: calc(100vw - 90vw) !important;
  z-index: 999;
}

.afa-receipt {
  display:  none ;
}

.receipt-card {
  background: #fff;
  width: 90%;
  max-width: 420px;
  border-radius: 14px;
  padding: 20px;
  animation: slideUp .35s ease;
  border: 2px solid rgb(6, 24, 29);
}

.receipt-card h3{
  text-align: center;
  margin-bottom: 15px;
}

.receipt-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dashed #ddd;
  font-size: 14px;
}

.receipt-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.receipt-actions button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}

.receipt-actions button:first-child {
  background: #111;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.receipt-actions button:last-child{
  background: #eee;
}


@keyframes slideUp {
  from {
    transform: translateY(40px); opacity: 0;
  }
  to {
    transform: translateY(0); opacity: 1;
  }
}
/****
AFA RECEIPT ENDS
****/

      




/*****
NEW CLOCK STYLE
******/

  .welcome-bottom .endRating{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    gap: 0;
    padding: 0;
    position: relative;
  
  }

  .endRating .stran{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: .2rem;
    justify-content: end;
    padding-right: 2.2rem;
    position: relative;
  }

  .endRating .stran img{
    width: 1rem;
    height: 1rem;
    background: var(--background-cl);
    padding: .1rem;
    border-radius: 3px;
  }


  .dark-mode .endRating .stran img{
    width: 1rem;
    height: 1rem;
    background: var(--thin-border);
    padding: .1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }


  .endRating .clocker{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: .3rem;
    position: relative;

  }

  .clocker #clock{
    margin: 0;
  }

  
/*****
ads 
*****/
.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px;
  gap: 0;
  padding: .3rem;
  width: 100%;
  max-width: 95%;
  height: 10.7rem;
  background: var(primary-cl);
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.7);
}

.dark-mode .gallery{
  box-shadow: 0 10px 20px rgba(0,0,0,0.7);
  background: var(--thin-border);
  border: 2px solid var(--darkMode-bg-cl);
}

.gallery .install-title{
width: 80%;
height: 20%;
display: flex;
padding: 0 1rem;
text-align: center;
margin-bottom: .5rem;
border-radius: 1rem;
box-shadow: 0 2px 6px rgba(0,0,0,0.2);
align-items: center;
border-bottom: 2px solid rgba(5, 41, 30, 0.521);
justify-content: center;
}

.dark-mode .install-title {
  border-bottom: 2px solid var(--thin-border-1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.install-title p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .8rem;
  color: rgb(20, 18, 14);
  font-weight: 500;
}

.dark-mode .install-title p{
  color: var(--primary-cl);
  opacity: .8;
}

.gallery .imgboxer{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  position: relative;
  justify-content: space-around;
}



.img-box {
  width: 27.3%;
  max-width: 30.3%;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--text-cl-2);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.dark-mode .img-box {
  border: 2px solid var(--thin-border);
  box-shadow: 0 10px 20px rgba(26, 36, 32, 0.8);
}



.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.img-box img:hover {
  transform: scale(1.1);
}

#viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000000000000;
}

#viewer img {
  max-width: 90% ;
  max-height: 90%;
  transition: 0.3s ease;
  cursor: grab
}

.clos {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 38px;
  cursor: pointer;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
}
