
.gridCard,
.gridCardAirteltigo,
.gridCardTele{
  transform: translateZ(0);
  will-change: transform;
}

.gridCardTele .gridCard-bottom .tbtn{
  background: linear-gradient(135deg, rgba(247, 159, 159, 0.712), rgba(207, 20, 45, 0.911)) !important;
}

.gridCardAirteltigo .gridCard-bottom .abtn{
  background:  linear-gradient(135deg, rgba(172, 198, 226, 0.945), rgba(7, 73, 87, 0.664)) !important;
}

/****
MAIN CONTAINER
****/
.container{
  width: 100vw;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
  background: transparent;
}





.container .navbar{
  width: 100%;
  height: 3.5rem !important;
  display: flex;
  background: #fff !important;
  align-items: center;
  align-content: center !important;
  justify-content: space-between;
  padding: 0 .8rem;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background: #fff !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10000000;
}

.dark-mode .container .navbar{
  width: 100% !important;
  height: 3.5rem !important;
  z-index: 100000000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: var(--darkMode-bg-cl) !important;
  overflow: hidden;
}





.container .main-grid-container{
  height: calc(100vh - 3.4rem) !important;
  scrollbar-width: none !important;
        /**** check back for margin-top ***/
}





/**
* NAV LEFT
**/
.container .navbar .nav-left{
  display: flex;
  position: relative;
  justify-self:start;
  height: 100%;

  padding: 1rem 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.dark-mode .container .navbar .nav-left{
  display: flex;
  position: relative;
  justify-self:start;
  height: 100%;

  padding: 1rem 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.container .navbar .nav-right{
  display: flex;
  position: relative;
  justify-self:end;
  height: 100%;
  padding: .8rem 0;
  align-items: center;
  justify-content: center;
}



.dark-mode .container .navbar .nav-right{
  display: flex;
  position: relative;
  justify-self:end;
  height: 100%;
  padding: .8rem 0;
  align-items: center;
  justify-content: center;
}



.container .navbar .nav-left img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;
  user-select: none;
}

.log-out{
  padding: 8px 16px;
  background: #e63946;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: .2s ease;
  margin-left: 1rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
      }

      .log-out:hover{
        background: #c1121f;
      }




      .card-container .welcome-card {
        margin-top: 1vh !important;
        box-shadow: 0 2px 6px rgba(0,0,0,0.4);
      }





/****
AFA REGISTRATION
*****/
.afa-receipt {
  position: fixed;
  inset: 0;
  background: none;
  align-items: center;
  justify-content: center;
  top: calc(100vh - 80vh) !important;
  left: calc(100vw - 90vw) !important;
  z-index: 999;
}

.afa-receipt {
  display:  none ;
}

.receipt-card {
  background: #fff;
  width: 90%;
  max-width: 420px;
  border-radius: 14px;
  padding: 20px;
  animation: slideUp .35s ease;
  border: 2px solid rgb(6, 24, 29);
}

.receipt-card h3{
  text-align: center;
  margin-bottom: 15px;
}

.receipt-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dashed #ddd;
  font-size: 14px;
}

.receipt-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.receipt-actions button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}

.receipt-actions button:first-child {
  background: #111;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.receipt-actions button:last-child{
  background: #eee;
}


@keyframes slideUp {
  from {
    transform: translateY(40px); opacity: 0;
  }
  to {
    transform: translateY(0); opacity: 1;
  }
}
/****
AFA RECEIPT ENDS
****/

      




/*****
NEW CLOCK STYLE
******/

  .welcome-bottom .endRating{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    gap: 0;
    padding: 0;
    position: relative;
  
  }

  .endRating .stran{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: .2rem;
    justify-content: end;
    padding-right: 1.6rem;
    position: relative;
  }

  .endRating .stran img{
    width: 1rem;
    height: 1rem;
    background: var(--background-cl);
    padding: .1rem;
    border-radius: 3px;
  }


  .dark-mode .endRating .stran img{
    width: 1rem;
    height: 1rem;
    background: var(--thin-border);
    padding: .1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }


  .endRating .clocker{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: .3rem;
    position: relative;

  }

  .clocker #clock{
    margin: 0;
  }

  
/*****
ads 
*****/
.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px;
  gap: 0;
  padding: .3rem;
  width: 100%;
  max-width: 95%;
  height: 10.7rem;
  background: var(primary-cl);
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.7);
}

.dark-mode .gallery{
  box-shadow: 0 10px 20px rgba(0,0,0,0.7);
  background: var(--thin-border);
  border: 2px solid var(--darkMode-bg-cl);
}

.gallery .install-title{
width: 80%;
height: 20%;
display: flex;
padding: 0 1rem;
text-align: center;
margin-bottom: .5rem;
border-radius: 1rem;
box-shadow: 0 2px 6px rgba(0,0,0,0.2);
align-items: center;
border-bottom: 2px solid rgba(5, 41, 30, 0.521);
justify-content: center;
}

.dark-mode .install-title {
  border-bottom: 2px solid var(--thin-border-1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.install-title p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .8rem;
  color: rgb(20, 18, 14);
  font-weight: 500;
}

.dark-mode .install-title p{
  color: var(--primary-cl);
  opacity: .8;
}

.gallery .imgboxer{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  position: relative;
  justify-content: space-around;
}



.img-box {
  width: 27.3%;
  max-width: 30.3%;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--text-cl-2);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.dark-mode .img-box {
  border: 2px solid var(--thin-border);
  box-shadow: 0 10px 20px rgba(26, 36, 32, 0.8);
}



.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.img-box img:hover {
  transform: scale(1.1);
}

#viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000000000000;
}

#viewer img {
  max-width: 90% ;
  max-height: 90%;
  transition: 0.3s ease;
  cursor: grab
}

.clos {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 38px;
  cursor: pointer;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
}

/***
Menu card
****/


      .menu-card-container .button-wrapper{
        display: flex;
        gap: .3rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 2.6rem;
        margin-bottom: .4rem;
        padding-right: .5rem;
        border-top: 1px solid var(--text-cl-2);
      }
  
 .dark-mode .menu-card-container .button-wrapper
 {
  border-top: 1px solid var(--thin-border);
 }

 





/*****
BOTTOM NAVIGATION BAR STYLE CSS
******/
 

    :root{
  --darkMode-bg-cl: rgb(10, 10, 10);
  --darkMode-bg-cl-2: rgb(10, 1, 22);
  --welcome-card-bg: rgba(3, 3, 3, 0.918);
  --welcome-card-bg-1: rgb(2, 2, 39);
    }
    .bottom-navbar{
      width: 100%;
      max-width: 99.99%;
      height: 4.3rem;
      justify-self: center;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      gap: .3rem;
      z-index: 999999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .1rem;
      background: rgb(241, 241, 241);
      border-start-start-radius: 1.7rem;
      border-start-end-radius: 1.7rem;
      border: 1px solid var(--primary-cl);
      overflow-x: hidden;
      box-shadow: 0 10px 40px rgba(26, 25, 25, 0.99);
    }

    .dark-mode .bottom-navbar{
      background: var(--darkMode-bg-cl);
      border: 1px solid var(--thin-border) !important;
      box-shadow: 0 10px 40px rgba(0,0,0,0.99);
    }



    .bottom-navbar .btom-navIcon{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 25%;
      gap: .3rem;
      height: 99%;
      cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
    }

    .btom-navIcon .activeImg{
      padding: .19rem 1.16rem;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      border-radius: .9rem;
    -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
    }

    .activeImg.active{
    background: rgb(240, 240, 240);
    box-shadow: 0 2px 6px rgba(68, 68, 68, 0.3);
    border: 1px solid var(--primary-cl);
    }

    .dark-mode .activeImg.active{
      background: rgba(46, 87, 61, 0.747);
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      border: 1px solid var(--thin-border);
    }

    /***
    AFA ACTIVE
    ***/
      .activeImg.activeMin{
    padding: .19rem .3rem;
     background: rgb(240, 240, 240);
    box-shadow: 0 2px 6px rgba(68, 68, 68, 0.3);
    border: 1px solid var(--primary-cl);
    }

    .dark-mode .activeImg.activeImg.activeMin{
      background: rgba(46, 87, 61, 0.747);
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      border: 1px solid var(--thin-border);
    }

 /***
    AFA ACTIVE ENDS
    ***/


     /***
    PAY ACTIVE
    ***/
    .activeImg.activeMin{
    padding: .19rem .3rem;
    background: rgb(240, 240, 240);
    box-shadow: 0 2px 6px rgba(68, 68, 68, 0.3);
    border: 1px solid var(--primary-cl);
    }
    .dark-mode .activeImg.activeMin{
      background: rgba(46, 87, 61, 0.747);
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      border: 1px solid var(--thin-border);
    }

      /***
    PAY ACTIVE ENDS
    ***/



      /***
    INFO ACTIVE ENDS
    ***/

    .activeImg img{
      width: 1.3rem;
      height: 1.3rem;
    }

  .activeImg .pin{
    width: 2rem;
    height: 1.8rem;
    margin-bottom: -.3rem;
  }



    .btom-navIcon .bottomIcon-textNav{
      font-size: .76rem;
      font-weight: 700;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgb(116, 116, 117);
    }

    .dark-mode .btom-navIcon .bottomIcon-textNav{
      color: white;
      opacity: .7;
    }

  .gridCard-wrapper{
    margin-bottom: 3rem;
  }







 /****
 ecoshop-fixedBtn
 *****/
   

      .ecodataShopBtn{
        width: 100%;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background: black;
        bottom: 4rem;
        z-index: 99999999;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        outline: none;
        -ms-user-select: none;;
        user-select: none;
      }
      .shop-fixedBtn{
        width: 3.4rem;
        height: 3.4rem;
        position: fixed;
        padding: .4rem;
        bottom: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;;
        background: rgb(245, 223, 200);
        border-radius: 50%;
        z-index: 99999999999999;
        box-shadow: 0 2px 6px rgba(182, 181, 181, 0.6) !important;
        cursor: pointer;
        border: 1px solid var(--thin-border-cl);
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        outline: none;
        -ms-user-select: none;;
        user-select: none;
      }

      .dark-mode .shop-fixedBtn{
        box-shadow: 0 10px 20px rgba(34, 34, 34, 0.73) !important;
      }

      .shop-fixedBtn img{
        width: 3.2rem;
        height: 3.2rem;
      }

