
:root {
  --bg-cl: #FFF;
  --primary-cl: #fff;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
  --border-cl-2: rgba(66, 66, 26, 0.226);
  --mtn-btn: rgb(193, 196, 19);
  --telecel-btn: rgb(180, 57, 19);
  --airteltigo-btn: rgb(28, 46, 119);

  /*====NEW===ROOT====*/
  /*====NEW===ROOT====*/
  --darkMode-bg-cl: rgb(24, 29, 36) !important;
  --background-cl-1: rgb(29, 36, 41);
  --background-cl-2: rgb(29, 36, 41);
  --background-cl-2: rgb(29, 36, 41);


  /***
  NEW ROOT
  ***/
  --btn-bg-cl: rgb(250, 126, 9);
  --user-panel-bg: rgba(42, 42, 194, 0.938);
  --clock-bg-cl: rgba(252, 175, 11, 0.199);
  --clock-bg-cl-1: rgb(2, 61, 52);

  /***
  DARK MODE COLORS
  ***/
  --darkMode-bg-cl: rgb(24, 29, 36) !important;
  --welcome-card-bg-2:  #141c27 !important;
  --welcome-card-bg:  #0e141b !important;
  --welcome-card-bg-3: rgba(77, 77, 77, 0.89);
  --welcome-card-border: rgb(74, 88, 94);
  --thin-border: rgb(35, 48, 49);
  --text-cl: rgb(145, 168, 164);
  --text-cl-2: rgb(210, 216, 216);
  --text-cl-3: rgb(139, 141, 141);

  /**
  BORDER SOLID COLORS
  **/
  --thin-border-1:  #0d6d5a;
  --thin-border-2:  #830616;
  --thin-border-3:  #b97207;
  --thin-border-4:  #036aa7;
  --thin-border-5:  #bba907;
  --thin-border-6:   rgb(17, 2, 31);
  --thin-border-7:  rgb(1, 11, 39);

  /***
  CARD BG
  ***/
  --card-mtn-bg:  #faba5ad0;
  --card-tel-bg:  #fa537dd0;
  --card-tigo-bg:  #6cbff7cb;
}


/**
* NAV-RIGHT
**/
.nav-right{
  display: flex;
  width: max-content;
  height: auto;
  gap: 1.1rem;
  align-items: center !important;
  justify-content: end;
  border-radius: 4px;
  margin-right: .6rem;
}

.nav-right img{
  width: 2rem;
  height: 1.8rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}

.nav-right .theme-switch {
  display: flex;
  margin-left: .8rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}



.login {
  display: flex;
  align-items: center;
  width: max-content;
  justify-content: space-between;
}

.login a{
  text-align: center;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .8rem;
  color: var(--card-full-bg-cl);
}


.login img {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 .5rem;
  background: var(--background-cl);
  border-radius: 50%;
  cursor: pointer;
}

.dark-mode .menu-icon{
  border-radius: 4px;
  height: 1.76rem !important;
  padding: .3px;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}

.menu-icon {
  border-radius: 4px;
  padding: .3px;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}

.slider .icon .sun{
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}






/* MENU ICON DARK & WHITE MODE */
  .dark-mode #cardToggler{
    display: none;
  }
  #menuDarkMode{
    display: none;
  }
  .dark-mode #menuDarkMode{
    display: flex;
  }

  img{
    -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
  }

  button{
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
  }

.card-container .welcome-card{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
  



    /**
    * SNACKBAR
    **/
    /***
SNACKBAR SECTION
****/
.snackbar {
  position: fixed;
  top: 2.2rem !important;
  right: 50%;
  width: 320px;
  height: 2.8rem;
  transform: translateX(50%);
  background-color:  #beddca;
  color: #20d18d;
  text-align: start;
  display: flex;
  align-items: center;
  word-spacing: 2.7;
  justify-content: start;
  font-size: .8rem;
  padding: .5rem;
  border-radius: 4px !important;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 200000000000000000000; /* above input popup */
  opacity: 0;
  pointer-events: none;
  transition: opacity .8s ease, transform 0.3s ease;
}

.dark-mode .snackbar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  border: 1px solid var(--thin-border);
}

.snackbar.show {
  opacity: 1;
  transform: translateX(50%) translateY(10px);
  pointer-events:all;
  width: 100%;
  padding: .5rem;
  max-width: 320px;
  z-index: 20000000000000000000000000; /* above input popup */
}


/* Progress bar */
.snackbar-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  animation: snackbar-progress linear forwards;
}

/* Progress animation */
@keyframes snackbar-progress {
  from { width: 100%; }
  to { width: 0%; }
}






/* === WhatsApp Floating Button === */





  .google-thumbnail img{
    width: 1.4rem !important;
    height: 1.4rem !important;
  }






.dark-mode .welcome-card{
  background: var(--background-cl-1);
  box-shadow:  0 10px 20px rgba(0, 0, 0, 0.6) !important;
  border: 2px solid var(--thin-border);
  margin-bottom: .8rem;
}

.dark-mode .welcome-top{
  background: var(--background-cl-1);
  box-shadow:  0 10px 20px rgba(0, 0, 0, 0.3) !important;
}



  .welcome-top .welcome-top-leftside{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70%;
    height: 100%  !important;
    position: relative;
    margin: 0;
    white-space: nowrap;
    padding: .4rem;
  }

   .welcome-top .welcome-top-leftside #usernameDisplay{
    font-size: .85rem;
    font-weight: 700;
    color: rgb(114, 114, 121);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .dark-mode .welcome-top .welcome-top-leftside #usernameDisplay{
    font-size: .85rem;
    font-weight: 700;
    color: rgb(232, 232, 233);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }














.welcome-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  padding: .2rem;
  height: 2.5rem !important;
  margin-bottom: .4rem !important;
  position: relative;
  justify-self: center;
  background: var(--bg-cl);
  border-start-start-radius: .4rem;
  border-start-end-radius: .4rem;
  border-end-end-radius: .4rem;
  border-end-start-radius: .4rem;
  box-shadow:   1px 1px 3px rgb(151, 147, 147),  -1px -1px 3px rgb(189, 184, 184) !important;
}




/**
 WELCOME TOP RIGHT
 **/
 .welcome-top-right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
 }

  .welcome-top-right input{
    width: 120px;
    height: 1.8rem;
    margin: 0 2rem;
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--dark-cl);
    background-color: transparent;
    border: 0.1px solid var(--background-cl);
  }

  .welcome-top-right input:where(:hover :focus-within){
    border: 1px solid rgb(156, 151, 151);

  }

  .welcome-top-right input::placeholder{
    color: rgb(197, 190, 190);
  }

  /*-----BOTTOM-----*/
  .welcome-bottom {
    width: 100%;
    height: 7.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
  }


  .welcome-bottom .close-time {
    width: 23%;
    height: 93% !important;
    display: flex;
    background: white;
    align-items: center;
    justify-content: flex-end;
    border-end-start-radius: .5rem;
    border-start-end-radius: .5rem;
    gap: .1rem;
    text-align: center;
    flex-direction: column;
    padding-bottom: 1rem;
    box-shadow: inset 12px 12px 20px white, inset -12px -12px 20px white;
    border: 1px solid  #e2e2e2  !important;
  }


  .close-time span{
  color: rgb(115, 204, 14) !important;
  border: 1px solid  #e2e2e2  !important;
 }

 .dark-mode .close-time span{
  border: 1px solid rgb(73, 114, 104) !important;
 }


  .dark-mode .welcome-bottom .close-time {
    width: 23%;
    height: 93%;
    display: flex;
    background: var(--welcome-card-bg-3) !important;
    align-items: center;
    justify-content: flex-end;
    border-end-start-radius: .2rem ;
    gap: .1rem;
    text-align: center;
    flex-direction: column;
    padding-bottom: 1rem ;
    box-shadow: inset 12px 12px 20px var(--darkMode-bg-cl), inset -12px -12px 20px var(--darkMode-bg-cl);
    border: 1px solid var(--thin-border) !important;
  }

.welcome-bottom .close-time .dotter{
  display: flex;
  width: 6px;
  height: 6px;
  color: var(--thin-border-1) !important;
  border-radius: 50%;
  animation: colorhange 2s infinite;
 }

 .dark-mode .close-time span{
  color: rgb(115, 204, 14) !important;
 }

 @keyframes colorhange {
  0% { background: white;}
  25% { background: blue;}
  50% { background: green;}
  75% { background: yellow;}
  100% { background: white;}
 }







  .close-time span{
    color: var(--card-mtn-bg) ;
    font-size: .7rem;
    font-weight: 600 ;
    padding: 0  .3rem ;
    display: flex;
    align-items: center;
    gap: .2rem;
    text-align: center ;
    justify-content: center;
    width: max-content;
    height: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: none;
    border-radius: 4px;
    border: none ;
  }


#clock {
      font-family: 'Digital-7', monospace;
      font-size: 2em;
      color: rgb(15, 182, 140);
      border-radius: 4px;
      width: max-content;
      height: 2rem;
      padding: .2rem .3rem;
      position: relative;
      border: none ;
      align-items: center;
      display: flex !important;
      justify-content: center;
      font-size: .97rem;
      font-weight: 600;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
      margin-right: .5rem;
      margin-top: 2.2rem;
    }



    .dark-mode #clock{
      color:rgb(182, 129, 15);
      border-bottom:  3px solid var(--thin-border);
      border: 0;
    }


























.live-order-body {
  height: 250px !important;
  scroll-behavior: smooth;
  background: none;
  margin-bottom: .3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: .8rem .2rem;
}

.dark-mode .live-order-body{
  background: none;
  border: none;

}



















































  
/* ============================= */
/*  HERO SECTION         */
/* ============================= */
.trusted-by {
  width: 100%;
  max-width: 98% !important;
  height: 15rem !important;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
  position: relative;
  padding:  8px;
  border-radius: .3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
  transition: 14s ease;
  animation: backColorChanger 53s  infinite;
}

.dark-mode .trusted-by{
  background: var(--background-cl-1) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7) !important;
  border: 1px solid var(--thin-border);
}

@keyframes backColorChanger {
  0% {
  background: linear-gradient(135deg, #1d6956, #7aa093)
  }
  25% {
    background: linear-gradient(105deg, #175747, #7aa093);
    transition: 13s ease-in ;
  }
  50% {
    background: linear-gradient(120deg, #185a49, #92c5b4);
  }
  100%{
    background: linear-gradient(90deg, #175545, #92c5b4);
    transition:  12s ease-out;
  }
}

.trusted-container {
  width: 100%;
  max-width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
}

.trusted-by .baw-right{
  width: 100%;
  max-width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
  overflow: hidden;

}



.baw-right img{
 position: absolute;
 width: 150%;
 height: 100%;
}

.trusted-badge {
  background: rgb(209, 248, 242);
  color: #038164;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 11px 20px !important;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode .trusted-badge{
  background: var(--background-cl-1);
  border: 2px solid var(--thin-border);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.wrapper-notice{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: .5rem;
  width: 90%;
  height: 2rem !important;
  background: rgba(69, 243, 214, 0.151);
  padding: .4rem !important;
  border: 1px solid rgba(102, 177, 162, 0.562);
}

.dark-mode .wrapper-notice{
  background: var(--thin-border);
  border: 1px solid var(--thin-border);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.wrapper-notice .left-tu{
  display: flex !important;
  background: linear-gradient(90deg, #365e53, #1b4637 ) !important;;
  color: rgb(211, 206, 206);
  padding: 0 !important;
  width: 3.3rem;
  font-size: .9rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: .1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 1.4rem !important ;
  padding: .3rem !important; 
  justify-content: center;
  align-items: center;
  border: 0.1px solid #59a895;
  border-radius: 3px !important;
}

.dark-mode .wrapper-notice .left-tu {
  background: linear-gradient(90deg, #1d332d, #1b4637 ) !important;;
  border: 1px solid rgba(112, 228, 17, 0.158);
  opacity: .7;
  border-radius: 2px !important;
}

.trusted-text {
  font-size: 1.2rem;
  color: #f0eeef;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trusted-text img{
  width: 2rem;
  height: 1.5rem;
}



.trusted-text strong{
  color: #e7f8f1;
}

.trusted-logos {
  width: 98%;
  justify-content: start;
  height: max-content;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-size: .7rem;
  font-weight: 700;
  gap: .8rem;
  padding-left: .1rem;
}

.trust{
  width: max-content;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(211, 206, 206);
  font-weight: 500;

}



.trusted-logos img {
  height: 1.7rem;
  width: 2.4rem;
  opacity: 0.9;
  border-radius: 0 !important;
  filter: grayscale(20%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.trusted-logos .icont-secure{
  height: 2.4rem;
  width: 2.4rem;
  box-shadow: none;
}



.trusted-right{
  display: flex;
  height: 100%;
  max-width: 30% ;
  z-index: 1;
}

.trusted-right img{
width: 100%;
height: 100%;
}
/*****
HERO SECTION ENDS
******/

/*******
NOTICE BOARD SECTION
*******/
.notice-container{
  width: 100%;
  max-width: 98% !important;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 1rem !important;
  border: 1px solid rgb(247, 244, 244);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.38);
}

.dark-mode .notice-container {
  border: 1px solid var(--thin-border);
}

.notice-container h3{
  color: white;
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  background: black;
  padding: .5rem 2rem;
  border-radius: .8rem;
  border-left: 3px solid white;
  border-right: 3px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  gap: .4rem;
}

.notice-container .merry{
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .5rem;
  transition: 4s ease-in-out all l;
}

.dark-mode .notice-container .merry{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .5rem;
  transition: 4s ease-in-out all l;
}


.notice-tag{
  width: 100%;
  height: 1.8rem;
  background: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: start;
}

.notice-text{
  width: 100%;
  max-width: max-content;
  padding: .2rem .4rem;
  height: 100%;
  justify-content: start;
  align-items: center;
  display: flex;
}




.dark-mode .notice-text h4{
  color: rgb(192, 190, 190);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.notice-text h4{
  color: rgb(22, 22, 31);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.notice-board{
  width: 100%;
  height: 13rem !important;
  gap: 1rem;
  max-width: 98% !important;
  padding: .9rem .4rem !important;
  align-items: center;
  justify-content: start;
  border-left: 5px solid rgb(226, 224, 224) !important;
  opacity: .7;
  margin: .3rem;
  display: flex;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
}



 

.dark-mode .notice-board {
  background: var(--background-cl-1) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.542);
  border-left: 5px solid white !important;
}

.notice-board span{
  opacity: .9;
}

.notice-top{
  width: 100%;
  height: 50%;
}

.notice-board .notice-top strong{
  color: rgba(12, 109, 93, 0.842);
}

.dark-mode .notice-top strong{
  color: var(--card-mtn-bg) !important;
  opacity: .9;
  font-family: "poppins" sans-serif;
} 

.notice-bottom{
  width: 100%;
  height: 50%;
}



.dark-mode .notice-bottom small strong{
  color: var(--card-mtn-bg);
}

.notice-board small{
  font-size: .9rem;
}

.notice-board small span{
  padding: .1rem .5rem;
  background: rgba(15, 172, 146, 0.842);
  color: white;
  margin-right: .3rem;
  border-radius: 50%;
}




/****
SOCIAL FOLLOW SECTION
****/
.follow-share-container {
  width: 100%;
  justify-self: center;
  max-width: 95% !important;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: .4rem;
  border: 2px solid rgb(219, 216, 216);
  margin-top: .4rem !important;
  padding: .2rem .4rem !important;
  height: 5rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) ;
}

.dark-mode .follow-share-container{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6) ;
  background-color:var(--thin-border);
  border: 2px solid var(--background-cl-1);
}

.pls-share{
  display: flex;
  width: 100%;
  height: max-content;
  margin-top: .2rem;
  border-radius: 4px;
  border: 2px solid rgba(10, 12, 11, 0.178);
  max-width: 20%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(./css/icons/icon-shortcut.png);
  background-position: center;
  background-size: 70%;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) ;
}

.dark-mode .pls-share{
  border: 2px solid rgba(158, 167, 162, 0.377);
  overflow: hidden;
  background-size: 80%;
}

#shareBtn{
  width: 94%;
  height: 2rem;
  background: linear-gradient(135deg, rgb(116, 230, 230),rgb(17, 74, 88));
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}

.social-follow{
  display: flex;
  width: 100%;
  max-width: 80%;
  justify-self: center;
  height: 3.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: .2rem .4rem;
  padding-top: .3rem;
  margin-top: .2rem;
  border-radius: 4px;
  background: white !important;
}



.dark-mode .social-follow{
  background: var(--background-cl-1) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  border: 2px solid var(--thin-border);
}

 .follow-left{
  width: 25%;
  height: 100%;
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: start;
  color: rgb(105, 101, 101);
  background: transparent;
}

.dark-mode .follow-left{
  color: rgb(218, 213, 213);
}

.social-follow .follow-left small{
  font-size: .7rem;
  font-weight: 500;
  white-space: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: .2rem;
  margin-right: .6rem;
}

.follow-right {
  width: 75%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: .1rem;
  animation: pulse 1.2s infinite;
}

.follow-right a{
text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}



.social-follow img{
  width: 2.5rem;
  height: 2.5rem;
  margin-top: .2rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}

.social-follow .follow-right .meg{
  height: 1.7rem;
  width: 1.7rem;
}

.social-follow .tikop{
  width: 2.7rem;
  height: 2.7rem;
}


/****
SOCIAL FOLLOW SECTION ENDS
****/

/***
DAILY ANALYTICS SECTION
****/


/****
DASHBOARD TOTALS OVERVIEW
***/

.daily-analytics{
  width: 100%;
  max-width: 94%;
  padding: .3rem 1rem;
  height: 2rem;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.daily-analytics h4{
  color: rgb(18, 26, 31) !important;
  font-size: .9rem;
  font-family: "inter" sans-serif;
  font-weight: 600;
}


.dark-mode .daily-analytics h4{
  color: rgb(241, 239, 239) !important;
  font-family: "inter" sans-serif;
  font-weight: 600;
  font-size: .9rem;
}



.totals-container {
width: 100%;
max-width: 99%;
margin-bottom: 1.2rem;
padding: .6rem;
display: grid;
grid-template-columns: repeat(1, 1fr); 
height: max-content;
justify-content: center;
position: relative;
align-items: center;
gap: .6rem;
}

.total-card {
  width: 100% !important;
  height: 6.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .8rem;
  border-radius: .8rem;
  justify-content: center;
  text-align: center;
  justify-self: center;
  background: var(--primary-cl) !important;
  padding: .3rem;
  box-shadow: 0 10px 20px rgba(22, 22, 22, 0.3);
}


.dark-mode .total-card {

  background: var(--background-cl-2) !important;
  padding: .3rem;
  box-shadow: 0 10px 20px rgba(22, 22, 22, 0.9);
}

.dark-mode .total-card {
  border-radius: .8rem;
}

/***
top section
***/
.total-card .total-card-top{
  display: flex;
  align-items: start;
  padding: .3rem;
  width: 100%;
  max-width: 98%;
  justify-self: center;
  text-align: center;
  justify-content: space-between;
  height: 3rem;
  background: transparent;
  top: 0;
}

.total-card-top small{
  font-size: .85rem;
  color: var(--thin-border);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode .total-card-top small{
  font-size: .85rem;
  color: rgb(20, 142, 163);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.dark-mode .total-card-top .cedis{
  font-size: .87rem !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.total-card-top .cedis{
  font-size: .87rem !important;
  color: rgb(30, 209, 149);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.total-card .total-card-top img{
  width: 1.3rem;
  height: 1.3rem;
  margin-top: -.1rem;
}

.total-card .total-card-bottom p{
  font-size: .95rem !important;
  font-weight: 600;
  color: var(--thin-border-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode .total-card .total-card-bottom p{
  font-size: .95rem;
  font-weight: 600;
  color: white;
  opacity: .9;
}

.total-card .total-card-bottom{
  width: 100%;
  max-width: 94%;
  display: flex;
  align-items: center;
  justify-content: start !important;
  height: 3rem;
  padding: 0 !important;
}

.dark-mode .total-card{
  background: var(--welcome-card-bg);
  border: 2px solid var(--thin-border);
}




/****
DASHBOARD SECTION ENDS
****/

























/***
BOTH BTN SELECTOR 
****/
.normalOrgridBtn-wrapping{
position: relative;
align-items: start;
justify-content: start;
width: 100%;
max-width: 92%;
margin-left: .5rem;
height: 9rem;
display: flex;
flex-direction: column;
padding:  .5rem;
background: white;
margin-top: 1.5rem;
border-radius: 1rem;
border: 1px solid rgb(223, 223, 223);
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14);
}

.dark-mode .normalOrgridBtn-wrapping{
  background: var(--darkMode-bg-cl);
  border: 1px solid var(--thin-border);
  box-shadow:  0 2p 6px rgba(0, 0, 0, 0.3);
}

.normalOrgridBtn-wrapping .normalOrgridBtn{
  width: 12rem;
  border-radius: 1rem;
  padding: .7rem;
  height: 5rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0 2px 2px rgba(151, 150, 150, 0.21);
  background: rgb(250, 250, 250);
  border: 1px solid rgb(247, 247, 247);
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;
  user-select: none;
}

.dark-mode .normalOrgridBtn-wrapping .normalOrgridBtn{
  background: var(--background-cl-1);
  border: 1px solid var(--thin-border);
  box-shadow: none;
}



.top-dashboard .packs{
  border: none;
  padding: .5rem 3.5rem;
  background: rgb(241, 241, 240);
  color: rgb(100, 91, 83);
  margin-top: .3rem;
  border-radius: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.38);
  font-weight: 600;
  font-size: .9rem;
  border: 1px solid rgb(255, 255, 255);
}

.dark-mode .packs{
  background: var(--background-cl-1);
   color: rgb(160, 146, 135);
   border: 1px solid var(--thin-border);
}


