





:root {
  --bg-cl: #FFF;
  --primary-cl: #fff;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
}



* {
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html:focus-within{
  scroll-behavior: smooth;
}


body {
  width: 100vw;
  min-height: 100vh;
  background: var(--background-cl);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
}

/**
* NAVIGATION BAR
**/
.navbar {
  display: flex;
  width: 100%;
  height: 3.8rem;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-cl);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 0.4rem 0.5rem;
  z-index: 1000;
}

/**
* NAV LEFT
**/
.navbar .nav-left{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.nav-left h2{
  font-size: 1.4;
  font-family: Arial sans-serif;
  color: white;
  padding: .3rem;
  border-radius: .2rem;
  cursor: pointer;
  background-color: var(--dark-cl);
}

/**
* NAV-RIGHT
**/
.nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 4px;
  margin-right: 0.5rem;
  background-color: #6986731a;
  padding: 0 .2rem;
}

.nav-right img{
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

/**-------LOGIN-CONTAINER----**/
.container {
  width: 100%;
  max-width: 960px;
  display: flex;
  gap: 2rem;
  justify-self: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 4rem 0;
  background: var(--background-cl);
}

.signUp-container{
  width: 100%;
  max-width: 480px;
  display: flex;
  position: relative;
  right: 0;
  justify-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-cl);
}

form{
  width: 330px;
  height: 400px;
  display: flex;
  background: var(--bg-cl);
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  margin: 4rem 0;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex-direction: column;
}


form h1{
  font-size: 1.2rem;
  font-family: Arial sans-serif;
}

form input{
width: 70%;
height: 2.2rem;
border: 0.1px solid var(--background-cl);
border-radius: 4px;
}

form input::placeholder{
  font-size: 1rem;
  margin-left: 1rem;
}

.login-btn{
  width: 50%;
  height: 2.2rem;
  background: black;
  border: none;
  border-radius: 4px;
  color: var(--primary-cl);
  cursor: pointer;
}
























/*****
MENU-CARD STYLING
*****/
.menu-card {
width: 7rem;
height: 6rem;
display: flex;
flex-direction: column;
position: fixed;
right: 6px;
align-items: center;
justify-content: space-between;
gap: 0;
top: 4.2rem;
text-align: center;
color: rgba(0, 221, 155, 0.89);
background: black;
font-size: .9rem;
border-radius: .7rem;
}


.bottom-card {
  width: 94%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  justify-content: flex-start;
  background: var(--bg-cl);
  border-end-end-radius: .5rem;
  border-end-start-radius: .5rem;
  border-start-end-radius: .5rem;
  margin-bottom: .2rem;
}

.bottom-card a{
  text-decoration: none;
   display: flex;
   color: var(--dark-cl);
   margin: 0 .4rem;
   background: transparent;
   padding: .2rem;
   border: .1px solid var(--background-cl);
   border-radius: 4px;
}

/* ABOUT & FOOTER */
.about,
footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: max-content;
  max-width: 480px;
  text-align: center;
  margin: .5rem 0;
  color: white;
  background-color:  rgb(28, 28, 46) ;
  bottom: 0;
  border-start-start-radius: 3rem;
  border-start-end-radius: 3rem;
}

.about{
  border-block-end: 1px solid var(--ascent-cl);
}

section footer .bar{
  margin: 0;
  bottom: 0;
}
.about h3{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--background-cl);
}
.about h4{
  color: rgb(45, 182, 148);
  margin-top: 0.4rem;
  font-size: 1.8rem;
}
.about P{
  width: 90%;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(250,250,250);
  margin: 0 auto;
  line-height: 1.8rem;
}

.about img{
  border-radius: 2rem;
width: 2.5rem;
height: 2.5rem;
margin: 0 .5rem;
}

@keyframes jump {
 0% {
  transform: rotateY('90deg 10%');
 }
}



footer a{
  color:  #1ebe57;
  text-decoration: none;
  align-items: center;
  font-weight: bold;
  margin-left: 0.1rem;
}

footer .copyright{
  color:  rgb(206, 58, 78);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  position: relative;
}



footer img{
  width: 2.6rem;
  height: 2.6rem;
  vertical-align: middle;
  margin-left: 0.6rem;
}



















