.live-order-card {
  max-width:  100%;
  height: 11rem;
  overflow-y: auto;
  margin:  .4rem;
  background: rgb(51, 48, 48);
  border-radius: 4px;
  padding: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-family: Arial, sans-serif;
  z-index: 100;
  overflow: auto;
}