   .product-detail-container{
    width: 100%;
    height: max-content;
 
    margin-top: .4rem;
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
  }

  .product-detail-container .img-pdt-container{
    width: 100%;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .img-pdt-container img{
    width: 99%;
    height: 98%;
  }

  /***8
  pdt desc
  ****/
  .product-detail-container .pdt-desc {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: .4rem;
    position: relative;
    justify-content: center;
  }

  .pdt-desc p{
    font-size: .8rem;
    font-weight: 600;
    color: rgb(86, 86, 90);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  /****
  store desc
  ***/
  .product-detail-container .store-desc{
    padding: .4rem;
    width: 100%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
  }

  .store-desc p{
    color: rgb(204, 155, 49);
    font-size: .7rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .store-desc .rat{
    color: black;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .84rem;
  }

  .product-detail-container .pdt-price{
    display: flex;
    align-items: center;
    justify-items: start;
    gap: .4rem;
    position: relative;
    width: 100%;
    height: 3rem;
    padding: .4rem;
  }

  .pdt-price h1{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(248, 6, 58);
  }

  .pdt-price .percentOff{
    color: rgb(255, 5, 89);
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .pdt-price .old-price{
    display: flex;
    position: relative;
  }

  .old-price p{
    font-size: .8rem;
    font-weight: 300;
    text-decoration: line-through;
    color: rgb(65, 64, 64)
  }

  .product-detail-container .fee-price{
    font-size: .7rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 1rem;
    justify-content: start;
    padding: .4rem;
    font-weight: 600;
    color: rgb(171, 171, 173);
  }

  /***
  btns
  ***/
  .product-detail-container .pdt-btns{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
    gap: 0;
    position: relative;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .pdt-btns .addToCart{
    width: 9rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    opacity: .8;
    border: none;
    border-start-start-radius: 1rem;
    border-end-start-radius: 1rem;
    background: linear-gradient(145deg, rgb(255, 196, 0), rgb(255, 123, 0));
    cursor: pointer;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

 .pdt-btns .buyNow{
    width: 9rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    opacity: .8;
    border: none;
    border-start-end-radius: 1rem;
    border-end-end-radius: 1rem;
    background: linear-gradient(145deg, rgb(255, 72, 0), rgb(255, 166, 0));
    cursor: pointer;
  }

