*{
  box-sizing: border-box;
}


:root {
  --bg-cl: #FFF;
  --primary-cl: #fff;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
  --border-cl-2: rgba(66, 66, 26, 0.226);
  --mtn-btn: rgb(193, 196, 19);
  --telecel-btn: rgb(180, 57, 19);
  --airteltigo-btn: rgb(28, 46, 119);


  /***
  NEW ROOT
  ***/
  --btn-bg-cl: rgb(250, 126, 9);
  --user-panel-bg: rgba(42, 42, 194, 0.938);
  --clock-bg-cl: rgb(2, 61, 52);

  /***
  DARK MODE COLORS
  ***/
  --darkMode-bg-cl: rgb(10, 1, 22);
  --welcome-card-bg: rgb(2, 2, 39);
  --welcome-card-bg-2: rgb(24, 5, 5);
  --welcome-card-border: rgb(74, 88, 94);
  --thin-border: rgb(35, 48, 49);
  --text-cl: rgb(145, 168, 164);
  --text-cl-2: rgb(210, 216, 216);
  --text-cl-3: rgb(139, 141, 141);

  /**
  BORDER SOLID COLORS
  **/
  --thin-border-1:  #0d6d5a;
  --thin-border-2:  #830616;
  --thin-border-3:  #b97207;
  --thin-border-4:  #036aa7;
  --thin-border-5:  #bba907;
  --thin-border-6:   rgb(17, 2, 31);
  --thin-border-7:  rgb(1, 11, 39);

  /***
  CARD BG
  ***/
  --card-mtn-bg:  #faba5ad0;
  --card-tel-bg:  #fa537dd0;
  --card-tigo-bg:  #6cbff7cb;
}
/* RESET */
/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #ffffff;
  color: #222;
  line-height: 1.6;
}


/* ================= HEADER ================= */
.store-header {
  width: 100%;
  max-width: 390px;
  height: 7rem;
  justify-self: center;;
  background: #f8f4f4;
  padding: 1px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0,0,0,0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.store-header .store-header-top{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: .2rem;
  border-bottom: 1px solid rgb(175, 170, 170);;
}

.store-header .store-header-bottom{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.store-header-bottom img{
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.logo img {
 width: 3rem;
 height: 3rem;
 border-radius: 50%;
 margin-top: .3rem;
}

.logo span {
  font-size: 14px;
  margin: 0;
  color: #28a745;
  font-weight: 500;
}

/* NAVIGATION */
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: max-content;
  height: 2.2rem;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  gap: .2rem;
  font-weight: 500;
  transition: 0.3s;
}

.main-nav a img{
  width: 1.2rem;
  height: 1.2rem;
}

.main-nav a:hover {
  color: #2898a7;
}

/* HEADER ACTIONS */
.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-actions input {
  padding: 9px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  width: 230px;
  background: #f9f9f9;
  outline: none;
  transition: 0.3s;
}

.header-actions input:focus {
  background: #fff;
  border-color: #28a745;
}

/* CART */
.cart-icon {
  background: #111;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 4rem;
  height: 2rem;
  align-items: center;
  gap: .2rem;
  padding: 9px 13px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.cart-icon img{
  width: 1.4rem;
  height: 1.4rem;
}

.cart-icon:hover {
  background: #323332;
}

/* ================= HERO SECTION ================= */

.main-shop-container{
  width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  justify-self: center;
  padding: 0 .3rem;
  margin-bottom: 2rem;
}







.underdev{
  width: 100%;
  max-width:  390px;
  justify-self: center;
  height: max-content;
  padding: 1rem;
  background: rgb(223, 217, 217);
  position: relative;
  margin-top: 1rem;
  position: relative;
}

.underdev h1{
  font-size: 1.2rem;
  font-weight: 700;
}

.underdev small{
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(167, 86, 32);
  animation: xl 5s ease infinite;
}

@keyframes  xl {
  to {
    transform: translateX(12px);
  }
}











.hero-section {
  background: linear-gradient(135deg, #0f0b06e3, #632907ea);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 390px;
  height: 16rem;
  text-align: center;
  margin-top: .6rem;
  margin-bottom: 2rem;
  padding: .3rem;
  border-radius: .3rem;
}

.hero-content{
  width: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.hero-content img{
  width: 4.8rem;
  height: 4rem;
}

.hero-section .hero-img{
  width: 100%;
  max-width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-img img{
  width: 123%;
  height: 90%;
  display: flex;
  animation:  rotateX 4s linear infinite;
}

@keyframes rotateX {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotateX(32deg);
  }

  80% {
    transform: rotateX(40deg)
  }

  100% {
    transform: rotateY(32deg)
  }
}



.hero-section .hero-content h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  margin-bottom: .4rem;
  white-space: wrap;
  color: rgb(255, 193, 123)
}

.hero-section p {
  font-size: 12px;
  margin-bottom: 25px;
  opacity: 0.85;
  white-space: wrap;
}

.hero-section .hero-content button {
  padding: .6rem 1rem;
  width: 70%;
  border: none;
  border-radius: 30px;
  background: #d4660d;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-section button:hover {
  background: #cf7e13;
}

/* ================= SHOP LAYOUT ================= */
.shop-wrapper {
width: 100%;
max-width: 97%;
margin: .1rem 0;
}

/* PRODUCTS AREA */
.products-area {
  flex: 1;
}

/* FILTER BAR */
.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .3rem;
  padding: 0 .4rem;
  height: 3rem;

}









.filter-bar select {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}




/****
SECTION TITLE
****/
.section-title{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 2rem;
  padding: .5rem;
}

.section-title h1{
  color: rgb(131, 131, 138);
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



/* PRODUCT GRID */

.product-grid-container{
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: .4rem;
  margin-bottom: 1rem;
  gap: .5rem;
  position: relative;
  justify-content: center;
  align-items: center;
  
}

.product-grid-container .new{
  width: 100%;
  height: 13rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  white-space: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(218, 212, 212);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border-radius: .4rem;

}

.new img{
  width: 99%;
  height: 60%;
}

.new h2{
  color: rgb(49, 53, 54);
  font-size: 1.2rem;
}

.new small{
  font-size: .9rem;
  font-weight: 600;
  color: rgb(88, 88, 95);
  line-height: 1.2;
}

.product-grid-container .product-card-div{
  width: 11.4rem;
  height: 19rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  gap: .5rem;
  margin-top: 1.2rem;
  position: relative;
  border-radius: .5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.product-card-div .product-top{
  width: 100%;
  height: 9rem;
  align-items: center;
  justify-content: center;
}

.product-top img{
  width: 97%;
  height: 99%;
}



.product-card-div .product-bottom{
  width: 100%;
  height: 9rem;
  display: flex;
  gap: .2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-start-start-radius: 1rem;
  border-end-end-radius: 1.2rem;
}

.product-bottom .product-btom-top{
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 1.2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 .4rem;
  position: relative;
}

.product-btom-top small{
  font-size: .6rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: rgb(223, 114, 12);
}

.product-btom-top small img{
  width: .9rem;
  height: 1rem;
}

.product-btom-top p{
  font-size: .6rem;
  color: rgb(223, 114, 12);
  font-weight: 700;
}

.product-bottom .price{
  width: 100%;
  height: max-content;
  padding: .4rem;
  font-weight: 700;
  color: rgb(243, 150, 63);;
}

.product-bottom .product-btom-bottom{
  display: flex;
  width: 100%;
  height: 3rem;
  margin-bottom: .2rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-bottom .pdetail{
  font-weight: 600;
  color: rgb(64, 64, 68);
  ;
}

.product-btom-bottom .buy-btn{
  width: 90%;
  height: 2rem;
  border-radius: 4px;
  border: none;
  background: linear-gradient(135deg, rgb(207, 117, 13),rgb(255, 174, 0));
  color: white;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}










.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.08);
}

/* SALE BADGE */
.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #e63946;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 600;
}

/* IMAGE */
.image-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.image-container img {
  max-height: 180px;
  object-fit: contain;
  transition: 0.3s;
}

.product-card:hover img {
  transform: scale(1.08);
}

/* RATING */
.rating {
  margin: 8px 0;
  font-size: 14px;
}

/* PRICE */
.price-box {
  margin: 10px 0 15px;
}

.new-price {
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
}

/* BUTTONS */
.card-buttons {
  display: flex;
  gap: 10px;
}

.view-btn {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #111;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  background: #111;
  color: white;
}

.cart-btn {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #28a745;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.cart-btn:hover {
  background: #1e7e34;
}







/**-----NEXT-SECTION--info-cards--***/
.info-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: .2rem;
  margin-top: 1rem;
}

.border{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background: rgb(197, 197, 202);
  justify-content: center;
  color: rgb(105, 102, 102);
  margin-top: 2rem;
}
.info-cards{
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgb(243, 241, 241);
  border: 1px solid rgb(220, 221, 221);
  margin-top: 2rem;
  gap: 1rem;
  padding: .4rem;
  border-radius: .3rem;
}

.info-cards .info-card{
  justify-self: center;
  width: 97%;
  height: 15rem;
  display: flex;
  align-items: center;
  padding: .5rem 1rem .5rem 1rem;
  flex-direction: column;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: .8rem;
  border-bottom: 5px solid rgb(177, 103, 6);
  cursor: pointer;
 text-align: center;
 overflow: hidden;
}

.info-card .info-card-top{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: .3rem;
  position: relative;
}

.info-card .info-card-bottom{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: .4rem;
}


.info-card-bottom ul li{
  font-size: .7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  color: rgb(121, 121, 129);
  font-weight: 600;
}

.info-card-bottom li span{
  margin-right: .4rem;
}

.info-card-bottom strong{
  font-size: .8rem;
  font-weight: 600;
  color: rgb(223, 164, 38);
}


.info-card small{
  font-size: .7rem;
  font-weight: 800;
  color: rgb(96, 96, 104);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-card p{
  font-size: .8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(84, 84, 90);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-card img{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid rgb(245, 240, 240);
  background: white;
  box-shadow: 0 2px 6px rgba(172, 168, 168, 0.28);
}
































/* ================= PAGINATION ================= */
.pagination {
  margin-top: 50px;
  text-align: center;
}

.pagination button {
  padding: 8px 14px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:hover {
  background: #111;
  color: white;
}

.pagination .active {
  background: #111;
  color: white;
}

/* ================= WHATSAPP FLOAT ================= */
.whatsapp-float {
  position: fixed;
  display: flex;
  bottom: 20px;
  right: 20px;
  background: #cf8320;
  color: white;
  font-size: 22px;
  padding: 3px 8px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 9999;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp {
  display: flex;
  position: relative;
}




.foot{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center !important;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  position: relative;
  padding: .3rem;
}

.foot .foot-content{
  display: flex;
  width: 100%;
  height: 90%;
  padding: .2rem .1rem;
  justify-self: center;
  position: relative;
  align-items: center;;
  justify-content: center;
  gap: .5rem;
}


.cop-right {
  width: 50%;
  max-width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-cl);
  border-right: 2px solid var(--text-cl);
}

.dark-mode .cop-right{
  background: var(--welcome-card-bg);
}


.foot-content .powered{
  font-size: .8rem;
  width: 50%;
  max-width: max-content;
  height: 100%;
  font-weight: 800;
  background: var(--bg-cl);
  padding-right: .3rem;
  color: rgb(53, 53, 104);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.dark-mode .powered {
  background: var(--welcome-card-bg);
  color: rgb(187, 182, 182);
}

.foot-content .powered strong{
  margin-right: .2rem;
  font-weight: 500;
}



/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  height: fit-content;
  top: 7.3rem;
  left: -20rem;
  position: fixed;
  transition: left .3s ease;
  z-index: 1000;
}

#sidebar.active{
  left: 0;
}

.sidebar h3 {
  margin-bottom: 15px;
  font-size: 16px;
}

.sidebar ul {
  list-style: none;
  margin-bottom: 30px;
}

.sidebar li {
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
  color: #555;
  transition: 0.3s;
}

.sidebar li:hover {
  color: #28a745;
  padding-left: 6px;
}

.sidebar input[type="range"] {
  width: 100%;
}
